// 음료수
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 900;
 word-wrap: break-word
---
// 30,000 ₩
color: rgba(0, 0, 0, 0.70);
 font-size: 14px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 콜라
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 당연히 코카콜라지 ~
color: black;
 font-size: 14px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// 0
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// 30,000 ₩
color: rgba(0, 0, 0, 0.70);
 font-size: 14px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 제로콜라
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 미안한데 제로는 펩시라임이 근본.
color: black;
 font-size: 14px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// 0
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// 30,000 ₩
color: rgba(0, 0, 0, 0.70);
 font-size: 14px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 사이다
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 답답할 땐 ? 사이다
color: black;
 font-size: 14px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// 0
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// 30,000 ₩
color: rgba(0, 0, 0, 0.70);
 font-size: 14px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 환타
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 당 떨어져,, 당 충전이 필요해,,
color: black;
 font-size: 14px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// 0
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// 메인 메뉴
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 900;
 word-wrap: break-word
---
// 30,000 ₩
color: rgba(0, 0, 0, 0.70);
 font-size: 14px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 메인
color: white;
 font-size: 10px;
 font-family: Inter;
 font-weight: 700;
 line-height: 12px;
 word-wrap: break-word
---
// 에겐 대하 : 안녕하새우
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 엄청난 대하가 몇 마리 ? 20마리 !
color: black;
 font-size: 14px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// 0
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// 30,000 ₩
color: rgba(0, 0, 0, 0.70);
 font-size: 14px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 메인
color: white;
 font-size: 10px;
 font-family: Inter;
 font-weight: 700;
 line-height: 12px;
 word-wrap: break-word
---
// 테토 장어 : 왜 불러.
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 비키거라. 대하에 꿀리지 않는 테토 장어 두 마리 나가신다.
color: black;
 font-size: 14px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// 0
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// 타임 판매 
color: white;
 font-size: 24px;
 font-family: Inter;
 font-weight: 900;
 word-wrap: break-word
---
// 6시 ~ 8시
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// 30,000 ₩
color: rgba(0, 0, 0, 0.70);
 font-size: 14px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 장어 덮밥
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 테토 장어 덮밥이 되다.
color: black;
 font-size: 14px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// 0
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// 0
color: black;
 font-size: 15px;
 font-family: SF Pro;
 font-weight: 400;
 word-wrap: break-word
---
// 개
color: black;
 font-size: 15px;
 font-family: SF Pro;
 font-weight: 400;
 word-wrap: break-word
---
// 총
color: black;
 font-size: 15px;
 font-family: SF Pro;
 font-weight: 400;
 word-wrap: break-word
---
// 총
color: black;
 font-size: 15px;
 font-family: SF Pro;
 font-weight: 400;
 word-wrap: break-word
---
// 원
color: black;
 font-size: 15px;
 font-family: SF Pro;
 font-weight: 400;
 word-wrap: break-word
---
// 0
color: black;
 font-size: 15px;
 font-family: SF Pro;
 font-weight: 400;
 word-wrap: break-word
---
// 주문하기
color: var(--Schemes-On-Surface-Variant, #49454F);
 font-size: 14px;
 font-family: Roboto;
 font-weight: 500;
 line-height: 20px;
 letter-spacing: 0.10px;
 word-wrap: break-word